@import url(https://fonts.googleapis.com/css?family=Lato);
.material-form {
  font-family: 'Roboto';
  font-weight: normal;
  background: #333547;
  margin: -10px;
  padding: 70px;
}
.material-form .container {
  background: white;
  padding: 50px;
}
.material-form .container .material-input {
  position: relative;
  margin-bottom: 10px;
}
.material-form .container .material-input input {
  background-color: lightgray;
}
.material-form .container .material-input label {
  color: #999;
  font-size: 16px;
  position: absolute;
  pointer-events: none;
  top: 10px;
  transition: 0.2s ease all;
  width: 100%;
}
.material-form .container .material-input input:not([type]),
.material-form .container .material-input input[type=text],
.material-form .container .material-input input[type=password],
.material-form .container .material-input input[type=email],
.material-form .container .material-input input[type=url],
.material-form .container .material-input input[type=time],
.material-form .container .material-input input[type=date],
.material-form .container .material-input input[type=datetime-local],
.material-form .container .material-input input[type=tel],
.material-form .container .material-input input[type=number],
.material-form .container .material-input input[type=search] {
  color: #333;
  font-size: 16px;
  padding: 10px 10px 10px 0;
  position: relative;
  display: block;
  border: none;
  width: 100%;
  border-bottom: 1px solid #d5d5d5;
}
.material-form .container .material-input input:not([type]):focus,
.material-form .container .material-input input[type=text]:focus,
.material-form .container .material-input input[type=password]:focus,
.material-form .container .material-input input[type=email]:focus,
.material-form .container .material-input input[type=url]:focus,
.material-form .container .material-input input[type=time]:focus,
.material-form .container .material-input input[type=date]:focus,
.material-form .container .material-input input[type=datetime-local]:focus,
.material-form .container .material-input input[type=tel]:focus,
.material-form .container .material-input input[type=number]:focus,
.material-form .container .material-input input[type=search]:focus {
  outline: none;
}
.material-form .container .material-input input:not([type]):focus + label,
.material-form .container .material-input input[type=text]:focus + label,
.material-form .container .material-input input[type=password]:focus + label,
.material-form .container .material-input input[type=email]:focus + label,
.material-form .container .material-input input[type=url]:focus + label,
.material-form .container .material-input input[type=time]:focus + label,
.material-form .container .material-input input[type=date]:focus + label,
.material-form .container .material-input input[type=datetime-local]:focus + label,
.material-form .container .material-input input[type=tel]:focus + label,
.material-form .container .material-input input[type=number]:focus + label,
.material-form .container .material-input input[type=search]:focus + label,
.material-form .container .material-input input:not([type]):valid + label,
.material-form .container .material-input input[type=text]:valid + label,
.material-form .container .material-input input[type=password]:valid + label,
.material-form .container .material-input input[type=email]:valid + label,
.material-form .container .material-input input[type=url]:valid + label,
.material-form .container .material-input input[type=time]:valid + label,
.material-form .container .material-input input[type=date]:valid + label,
.material-form .container .material-input input[type=datetime-local]:valid + label,
.material-form .container .material-input input[type=tel]:valid + label,
.material-form .container .material-input input[type=number]:valid + label,
.material-form .container .material-input input[type=search]:valid + label {
  top: -10px;
  font-size: 12px;
  color: red !important;
}
.material-form .container .material-input input:not([type]):focus ~ .bar:before,
.material-form .container .material-input input[type=text]:focus ~ .bar:before,
.material-form .container .material-input input[type=password]:focus ~ .bar:before,
.material-form .container .material-input input[type=email]:focus ~ .bar:before,
.material-form .container .material-input input[type=url]:focus ~ .bar:before,
.material-form .container .material-input input[type=time]:focus ~ .bar:before,
.material-form .container .material-input input[type=date]:focus ~ .bar:before,
.material-form .container .material-input input[type=datetime-local]:focus ~ .bar:before,
.material-form .container .material-input input[type=tel]:focus ~ .bar:before,
.material-form .container .material-input input[type=number]:focus ~ .bar:before,
.material-form .container .material-input input[type=search]:focus ~ .bar:before,
.material-form .container .material-input input:not([type]):focus ~ .bar:after,
.material-form .container .material-input input[type=text]:focus ~ .bar:after,
.material-form .container .material-input input[type=password]:focus ~ .bar:after,
.material-form .container .material-input input[type=email]:focus ~ .bar:after,
.material-form .container .material-input input[type=url]:focus ~ .bar:after,
.material-form .container .material-input input[type=time]:focus ~ .bar:after,
.material-form .container .material-input input[type=date]:focus ~ .bar:after,
.material-form .container .material-input input[type=datetime-local]:focus ~ .bar:after,
.material-form .container .material-input input[type=tel]:focus ~ .bar:after,
.material-form .container .material-input input[type=number]:focus ~ .bar:after,
.material-form .container .material-input input[type=search]:focus ~ .bar:after,
.material-form .container .material-input input:not([type]):valid ~ .bar:before,
.material-form .container .material-input input[type=text]:valid ~ .bar:before,
.material-form .container .material-input input[type=password]:valid ~ .bar:before,
.material-form .container .material-input input[type=email]:valid ~ .bar:before,
.material-form .container .material-input input[type=url]:valid ~ .bar:before,
.material-form .container .material-input input[type=time]:valid ~ .bar:before,
.material-form .container .material-input input[type=date]:valid ~ .bar:before,
.material-form .container .material-input input[type=datetime-local]:valid ~ .bar:before,
.material-form .container .material-input input[type=tel]:valid ~ .bar:before,
.material-form .container .material-input input[type=number]:valid ~ .bar:before,
.material-form .container .material-input input[type=search]:valid ~ .bar:before,
.material-form .container .material-input input:not([type]):valid ~ .bar:after,
.material-form .container .material-input input[type=text]:valid ~ .bar:after,
.material-form .container .material-input input[type=password]:valid ~ .bar:after,
.material-form .container .material-input input[type=email]:valid ~ .bar:after,
.material-form .container .material-input input[type=url]:valid ~ .bar:after,
.material-form .container .material-input input[type=time]:valid ~ .bar:after,
.material-form .container .material-input input[type=date]:valid ~ .bar:after,
.material-form .container .material-input input[type=datetime-local]:valid ~ .bar:after,
.material-form .container .material-input input[type=tel]:valid ~ .bar:after,
.material-form .container .material-input input[type=number]:valid ~ .bar:after,
.material-form .container .material-input input[type=search]:valid ~ .bar:after {
  width: 51%;
  background: red !important;
  border-bottom: 0px;
}
.material-form .container .material-input .bar {
  position: relative;
  display: block;
  width: 100%;
}
.material-form .container .material-input .bar:before,
.material-form .container .material-input .bar:after {
  content: '';
  height: 2px;
  width: 0px;
  position: absolute;
  bottom: 0.5px;
  background: red !important;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.material-form .container .material-input .bar:before {
  left: 51%;
}
.material-form .container .material-input .bar:after {
  right: 49%;
}
.material-form .container .material-input .bar + label:after {
  display: block;
  content: "";
  position: absolute;
  top: 65px;
  opacity: 0;
  transition: 0.2s opacity ease-out, 0.2s color ease-out;
  -moz-transition: 0.2s opacity ease-out, 0.2s color ease-out;
  -webkit-transition: 0.2s opacity ease-out, 0.2s color ease-out;
}
.material-form .container .material-input select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  background-color: transparent;
  background: url('svg/common/arrow-down-new.svg') right transparent;
  color: #333;
  font-size: 16px;
  padding: 10px 10px 10px 0;
  position: relative;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #d5d5d5;
  border-radius: 0;
}
.material-form .container .material-input select:focus {
  outline: none;
}
.material-form .container .material-input select + .icon-arrow-down {
  position: absolute;
  float: right;
}
.material-form .container .material-input select option:checked + label {
  display: none;
}
.material-form .container .material-input input[type="radio"] + label {
  pointer-events: all;
}
.material-form .container .material-input input[type="radio"]:not(:checked),
.material-form .container .material-input input[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}
.material-form .container .material-input input[type="radio"]:not(:checked) + label,
.material-form .container .material-input input[type="radio"]:checked + label {
  position: relative;
  padding-left: 35px;
  padding-top: 4px;
  cursor: pointer;
  width: 100%;
  display: inline;
}
.material-form .container .material-input input[type="radio"]:not(:checked) + label:before,
.material-form .container .material-input input[type="radio"]:checked + label:before,
.material-form .container .material-input input[type="radio"]:not(:checked) + label:after,
.material-form .container .material-input input[type="radio"]:checked + label:after {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 24px;
  height: 24px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.material-form .container .material-input input[type="radio"]:not(:checked) + label:before,
.material-form .container .material-input input[type="radio"]:checked + label:before {
  border: 1.5px solid #b9b9ba;
}
.material-form .container .material-input input[type="radio"]:checked + label:before {
  border: 1px solid red;
}
.material-form .container .material-input input[type="radio"]:not(:checked) + label:before,
.material-form .container .material-input input[type="radio"]:checked + label:before {
  border-radius: 50%;
}
.material-form .container .material-input input[type="radio"]:not(:checked) + label:after,
.material-form .container .material-input input[type="radio"]:checked + label:after {
  font-size: 9px;
  color: #fff;
  background: red;
}
.material-form .container .material-input input[type="radio"]:not(:checked) + label:after {
  transform: scale(0, 0);
}
.material-form .container .material-input input[type="radio"]:checked + label:after {
  transform: scale(1, 1);
}
.material-form .container .material-input input[type="radio"]:checked + label:after {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  left: 5px;
  top: 7px;
}
