<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Crowd Hire App</title>
	<link rel="icon" type="image/png" href="./assets/images/icons/search.png">
  
 
	<!-- Local CSS -->
  <link rel="stylesheet" href="./assets/css/style.css">
	<!-- jQuery Script -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<!-- Bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- Materialize Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- AJAX -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<!-- Firebase Reference -->
	<script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>

  
</head>
<body>
  <div class="container">
      
    <br><br>
{{!-- Handlebars inserts here --}}
    {{{body}}}

    {{!-- <br><br>

    <button type="submit" class="btn btn-success" id="submit-button">Submit</button>
   
		<br><br> --}}

  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</body>
</html>